<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--浏览器标签上的小图标  <link rel="icon" href="../../../../favicon.ico">-->


    <title>Dashboard Template for Bootstrap</title>

    <link href="../../dist/css/jquery.js" th:href="@{/webjars/jquery/3.3.1/jquery.js}"
          rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" th:href="@{/asserts/dashboard.css}" rel="stylesheet">
</head>

<body>
<!--顶部导航栏-->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" th:replace="~{commons/bar :: topbar}">

</nav>

<div class="container-fluid" >
    <div class="row">

        <!--"~{commons/bar :: sidebar(activeUri='list.html')}" 表示在commons文件夹下的bar.html文件中寻找自定义片段名为sidebar的代码片段,同时传送一个activeUri参数-->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" th:replace="~{commons/bar :: sidebar(activeUri='list.html')}">
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" >
            <h2 >新增顾客</h2>
            <form class="form-horizontal" th:action="@{/emp}" th:method="post">
                <!--放入两个隐藏的input元素,根据判断条件实现自己的功能-->
                <input type="hidden" name="_method" value="put" th:if="${emp != null}"/>

                <!--当传入emp后,生成带id的隐藏input元素-->
                <input type="hidden" name="empId" th:value="${emp.empId}" th:if="${emp != null}"/>

                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="name" name="empName" class="form-control" id="inputName" placeholder="Name" th:value="${emp != null}?${emp.empName}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" name="empEmail" class="form-control" id="inputEmail3" placeholder="Email@3kingdom.com" th:value="${emp != null}?${emp.empEmail}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDate" class="col-sm-2 control-label">Birth</label>
                    <div class="col-sm-10">
                        <input type="date" name="empBirth" class="form-control" id="inputDate" th:value="${emp != null}?${#dates.format(emp.empBirth,'yyyy-MM-dd')}">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">Geder</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="empGender" id="inlineRadio1" value="M" th:checked="${emp != null}?${emp.empGender == 'M'}"> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="empGender" id="inlineRadio2" value="W" th:checked="${emp != null}?${emp.empGender != 'M'}"> 女
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDate" class="col-sm-2 control-label">Department</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="empDeptId" >
                            <option th:each="dept:${depts}" th:value="${dept.deptId}" th:text="${dept.deptName}" th:selected="${emp != null}?${emp.department.deptId == dept.deptId}">1</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit"class="btn btn-sm btn-primary" th:text="${emp != null}?'修改':'提交'">提交</button>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>


<script src="../../dist/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>

</script>
</body>
</html>
